@page
@model BaseDeDatosProyecto.Pages.Clientes.CreateModel
@{
}

<br />
<h2>Nuevo Cliente</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role='alert'>
        <strong>@Model.errorMessage</strong>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='cerrar'></button>
    </div>
}

<form method="POST">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombre" value="@Model.clientInfo.nombre" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.clientInfo.email" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Telefono</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="telefono" value="@Model.clientInfo.telefono" />
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Direccion</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="direccion" value="@Model.clientInfo.direccion" />
        </div>
    </div>


    @if (Model.sucessMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>@Model.sucessMessage</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='close'></button>
                </div>
            </div>
        </div>
    }



    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary" >Enviar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancelar</a>
        </div>
    </div>

</form>